body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#border {
    border: 10px solid red;
    padding: 10px;
}

#header {
    margin-bottom: -20px;
}

#screen {
    outline: 5px solid black;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 150px;
}

#topRow {
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

#numbers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#numTop {
    display: flex;
    flex-direction: row-reverse;
}

#numMid {
    display: flex;
    flex-direction: row-reverse;
}

#numBotm {
    display: flex;
    flex-direction: row-reverse;
}

#zero {
    flex: 1;
}

#operators {
    display: flex;
    flex-direction: column;
}

#opTop {
    display: flex;
}

#opMid {
    display: flex;
}

#equals {
    flex: 1;
}